body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 70px 1fr;
}

nav {
    background-color: #666666;
    display: grid;
    grid-row: span 2;
    grid-column: span 1;
    align-items: center;
    justify-content: center;
    padding:5px;
}
#option{
    position: sticky;
    bottom:200px;
    top: 0px;
}

nav button {
    border: none;
    background-color: #666666;
    color: white;
    font-size: 14px;    
}

header {
    background-color: #0E85E3;
    color: white;
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 10px;
    font-size: 36px;
    font-weight: bold;
}

#container {
    display: grid;
    padding:10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
    justify-content: center;
}

#displayBoard{
    display: grid;
    height: 98%;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 1fr;
    justify-content: center;
    font-size: 20px;
    color: #666666;
    font-weight: normal;
}
#displayBoard div{
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    justify-content: center;
}


.box1 {
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid #666666;
    text-align: end;
    line-height: 2;
    align-items: center;
}

.box1 input{
    height: 20px;
    width: 500px;
    border-radius: 13px;
    padding-left:7px;
    padding-right: 7px;
    margin-left: 7px;
    font-size: 18px;
    border: 2px solid #666666;
}

.box1 button {
    border: none;
    background-color:white;
    color: #666666;
    font-size: 18px;
}

.box2 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

