body {
    line-height: 1.5;
}

main {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 70px 1fr;
}

nav {
    background-color: #666666;
    display: grid;
    grid-row: span 2;
    grid-column: span 1;
    align-items: center;
    justify-content: center;
    padding:5px;
}
button {
    border: none;
    background-color: #666666;
    color: white;
    font-size: 14px;    
}

header {
    background-color: #0E85E3;
    color: white;
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 10px;
    font-size: 36px;
    font-weight: bold;
}

#displayBoard {
    padding:10px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
